body {
  #background-color: lightblue;
  background-image: url("images/green.jpg");
  background-attachment: scroll;
}

h1 {
  color: yellow;
  margin-left: 20px;
}

table{
	color:red;
	background-color: yellow;
}